/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* Portrait layout (default) */
@font-face {
    font-family: muli;
    src: url("Muli-Regular.otf") format("opentype");
}
html{
    overflow-x:hidden;
}
.app {
    background:url(../img/inmigration.jpg) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
     background-size: cover;
   
    height:100%;                   /* text area height */
    width:100%;                   /* text area width */
    text-align:center;
    font-family: muli
  /* // padding:180px 0px 0px 0px;      image height is 200px (bottom 20px are overlapped with text) 
   // margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

#login > .cabecera 
{

    width: 100%;
    background-color:#C5CACE;
    height: 44px;
    vertical-align: bottom !important;
    text-align: center;
    font-size: 28px;

}
#login > .imagelogo
{
    background:url(../img/flight.png) no-repeat center top;
    width: 80px;
    height: 80px;
    top: 120px;
    background-size: cover;
    text-align: center;
    display: table;
    margin: 0 auto;
    margin-top:30px;

}
#login > .logintext
{
    font-size: 22px;
    color: #fff;
    text-shadow:  2px 2px rgba(0,0,0,0.5);
}

#login > .form 
{
    margin-top: 80px !important;
    width:60%;
    text-align: center;
    margin: 0 auto;

}
#login > .form > input{
    /*-webkit-box-shadow: 4px 5px 12px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 5px 12px 1px rgba(0,0,0,0.5);
    box-shadow: 4px 5px 12px 1px rgba(0,0,0,0.5);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 7px;*/
}
.labellost
{
    margin-top: 10px;
    font-size:12px;

}
.ingresar
{ 
    background-color: #C5CACE !important;
}
 .registro {

    position: fixed;
    bottom: 10px;
    background-color: #C5CACE !important;
}
.mensaje
{
    color: #ff1a1a;
    font-size: 19px;
}

.imageuser
{
    background:url(../img/user.jpg) no-repeat center top;
    width: 80px;
    height: 80px;
    top: 120px;
    background-size: cover;
    text-align: center;
    display: table;
    margin: 0 auto;
    margin-top:30px;
    border-radius: 50%;

}
.logintext
{
     font-size: 22px;
    color: #000;
    text-shadow:  2px 2px rgba(255,255,255,0.5);
}
